<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <script src="../js/vue.js"></script>
    <script src="../js/axios0.18.js"></script>
    <script src="../js/pub.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <h1>登录</h1>
        <form @submit.prevent="login">
            <label for="username">账号</label>
            <input type="text" id="username" v-model="username" required>
            <label for="password">密码</label>
            <input type="password" id="password" v-model="password" required>
            <input type="submit" value="登录">
        </form>
        <div>
            <p>没有账号？点击注册</p>
            <button @click="register">注册</button>
        </div>
    </div>
</div>
</body>
</html>
<script>
    createVueInstance({
        el: '#app',
        data: {
            username:"",
            password:""
    },
        methods:{
            login(){
                let _this = this;
                let data = {username: _this.username, password: _this.password};
                axios({
                    method: "post",
                    url: "/user/login",
                    data: convertToQueryString(data)
                }).then(function (resp) {
                    console.log(resp.data);
                    if (resp.data.code == 200) {
                        alert("登录成功！");
                        sessionStorage.setItem("user_id",resp.data.data.userId);
                        sessionStorage.setItem("user_name",resp.data.data.userName);
                        window.location.href = "home.html";
                    } else {
                        alert(resp.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            register(){
                window.location.href = "register.html";
            }
        }
    })
</script>
