<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <script src="../js/vue.js"></script>
    <script src="../js/axios0.18.js"></script>
    <script src="../js/pub.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <h1>注册</h1>
        <form @submit.prevent="login">
            <label for="username">账号</label>
            <input type="text" id="username" v-model="username" required>
            <label for="password">密码</label>
            <input type="password" id="password" v-model="password" required>
            <label for="new_password">新密码</label>
            <input type="password" id="new_password" v-model="new_password" required>
            <input type="submit" value="提交">
        </form>
    </div>
</div>
</body>
</html>
<script>
    createVueInstance({
        el: '#app',
        data: {
            username:"",
            password:"",
            new_password:""
        },
        methods:{
            login(){
                let _this = this;
                let data = {username: _this.username, password: _this.password,new_password: _this.new_password};
                axios({
                    method: "post",
                    url: "/user/update",
                    data: convertToQueryString(data)
                }).then(function (resp) {
                    console.log(resp.data);
                    if (resp.data.code == 200) {
                        alert("修改成功！");
                        window.location.href = "login.html";
                    } else {
                        alert(resp.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            }
        }
    })
</script>
