
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mydetail_container {
    display: flex;
    height: 86vh;
    background-color: #f9f9f9;
}

.mydetail_sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mydetail_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mydetail_menu li {
    margin-bottom: 10px;
}

.mydetail_menu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.mydetail_menu a:hover {
    background-color: #e6e6e6;
}

.mydetail_logout {
    margin-top: 20px;
}

.mydetail_logout button {
    display: block;
    width: 100%;
    border: none;
    background-color: #ff6347;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mydetail_logout button:hover {
    background-color: #ff4330;
}

.mydetail_content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mydetail_content iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.btn {
    text-align: center;
    padding: 10px;
    width: 80px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-image: linear-gradient(to right, #ff6a6a, #d9702f);
    color: #fff;
    transition: background-image 0.3s ease;
    margin-left: 450px;
}

.btn:hover{
    background-image: linear-gradient(to right, #ffb4b4, #ffb386);
}

.btn:active{
    background-image: linear-gradient(to right, #832424, #8c4518);
}