
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.input-item {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  padding: 10px;
  border-bottom: 1px solid rgb(128, 125, 125);
  font-size: 15px;
  outline: none;
}

.background {
  height: 100%;
  background-image: linear-gradient(to right, #9bd7ff, #3174e8);
}

.login-wrapper {
  background-color: #fff;
  width: 358px;
  height: 400px;
  border-radius: 15px;
  padding: 0 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {  
    from { opacity: 0.4; }  
    to { opacity: 1; }  
  }

.btn {
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: 40px;
  border: 0;
  border-radius: 10px;
  background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
  color: #fff;
  transition: background-image 0.3s ease;
}

.btn:hover{
  background-image: linear-gradient(to right, #91d5ff, #ffe2f9);
}

.btn:active{
  background-image: linear-gradient(to right, #4d7690, #b268a3);
}

.msg {
  text-align: center;
  line-height: 100px;
}

/* 如果你只想对特定的元素进行样式设置，可以这样做 */  
.centered-text {  
    font-family: "Microsoft YaHei", "微软雅黑", "Arial", sans-serif;  
    text-align: center; /* 水平居中 */  
    /* 如果需要垂直居中，你可能需要额外的CSS技巧，比如使用flexbox或grid */  
    display: flex;  
    justify-content: center; /* 水平居中（flex容器内） */  
    align-items: center; /* 垂直居中（flex容器内，单行或多行）*/  
    height: 100px; /* 示例高度，可以根据需要调整 */  
    color: rebeccapurple;
}


  /* 当输入框获得焦点时 */  
  input[type="text"]:focus,  
  input[type="password"]:focus,  
  input[type="email"]:focus
  /* 你可以根据需要添加其他类型的输入框 */  
  {  
    /* 你也可以添加其他样式，如背景色、阴影等 */  
    background-color: #f5f5f5;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */  
    transition: background-color 0.3s ease;
  }