<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页</title>
    <script src="../js/vue.js"></script>
    <script src="../js/axios0.18.js"></script>
    <script src="../js/pub.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/register.css">
</head>
<body class="background">
<div id="app">
    <div class="login-wrapper">
        <h1 class="centered-text">Register</h1>
        <form @submit.prevent="login">
            <input class="input-item" placeholder="username" type="text" id="username" v-model="username" required>
            <input class="input-item" placeholder="password" type="password" id="password" v-model="password" required>
            <input class="btn" type="submit" value="注册">
        </form>
    </div>
</div>
</body>
</html>
<script>
    new Vue({
        el: '#app',
        data: {
            username:"",
            password:""
        },
        methods:{
            login(){
                let _this = this;
                let data = {username: _this.username, password: _this.password};
                axios({
                    method: "post",
                    url: "/user/register",
                    data: convertToQueryString(data)
                }).then(function (resp) {
                    console.log(resp.data);
                    if (resp.data.code == 200) {
                        alert("注册成功！");
                        window.location.href = "login.html";
                    } else {
                        alert(resp.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            }
        }
    })
</script>
