<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这里是上传界面</title>
    <script src="../js/vue.js"></script>
    <script src="../js/axios0.18.js"></script>
    <script src="../js/pub.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/upload.css">
</head>
<body>
<div class="main-container">
<!--    这是上传图片的框-->
    <div>
        <div>
            <img :src="imageUrl" alt="Selected Image" class="image"/>
        </div>
        <br>
        <div style="opacity: 1;">
            <input type="file" @change="onFileChange"/>
        </div>
    </div>
</div>
<div>
<!--    这是选项框-->
    <div>
        <p>请选择设备分类</p>
        <select @change="selectClass($event)">
            <option value=0>请选择</option>
            <option v-for="(item,id) in categoryList" :key="id" :value="item.id">
                {{item.name}}
            </option>
        </select>
    </div>
<!--    这里是输入设备名称的框-->
    <div>
        <label for="item_name">请输入设备名称</label>
        <input id="item_name" type="text" v-model="item_name">
    </div>
<!--    这是输入设备详情的框-->
    <di>
        <p>请输入相关简介描述</p>
        <textarea v-model="description" style="resize: none;height: 100px;width: 100px"></textarea>
    </di>
<!--    发送数据到后台-->
    <button @click="sendToBackend">Send to Backend</button>
</div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            //64编码
            imageUrl:null,
            imageFile:null,
            categoryList:[],
            select_class_id:0,

            user_id:0,
            item_name:'',
            description:""
        },
        methods:{
            onFileChange(e){
                const file = e.target.files[0];
                if (!file) return;

                this.imageFile = file;

                const reader = new FileReader();
                reader.onload = (e) => {
                    this.imageUrl = e.target.result; // 这是data URL
                };
                reader.readAsDataURL(file);
            },
            sendToBackend(){
                let _this = this;
                if (_this.select_class_id==0){
                    alert("请选择设备类型！！")
                    return
                }
                let data = {ImageUrl: _this.imageUrl,name:_this.item_name,user_id:_this.user_id
                    ,category_id:_this.select_class_id, description: _this.description
                }
                console.log(data)
                axios({
                    method: "post",
                    url: "/equipment/upload",
                    data: convertToQueryString(data)
                }).then(function (resp) {
                    console.log(resp.data);
                    if (resp.data.code == 200) {
                        alert(resp.data.msg);
                        window.history.go(-1);
                    } else {
                        alert(resp.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            selectClass(event){
                let _this=this
                _this.select_class_id = event.target.value;
                console.log("获取到的id是"+_this.select_class_id)//获取option对应的value值 select_class_id是后台约定的提交数据的名称
            },

        },
        mounted(){
            let _this=this
            axios({
                method: "post",
                url: "/category/getList",
            }).then(function (resp) {
                console.log(resp.data);
                if (resp.data.code == 200) {
                    _this.categoryList=resp.data.data
                } else {
                    alert(resp.data.msg);
                }
            }).catch(function (error) {
                console.log(error);
            });
        },
        created(){
            let _this=this
            _this.user_id = sessionStorage.getItem("user_id");
            console.log("当前操作者:"+_this.user_id)
        }
    })
</script>
</html>