<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这里是上传界面</title>
    <script src="../js/vue.js"></script>
    <script src="../js/axios0.18.js"></script>
    <script src="../js/pub.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/upload.css">
    <link type="text/css" rel="stylesheet" href="../css/dropDown.css">
</head>
<body>
<div id="app">
    <!--    这是上传图片的框-->
    <div v-if="step == 0" class="main-container">
            <div class="child-container">
                <img v-if="imgSelected == 1" :src="imageUrl" alt="Selected Image" class="image"/>
                <img v-else src="../img/test.jpg" alt="Selected Image" class="image"/>
            </div>
            <div class="button-container">
                <input type="file" @change="onFileChange"/>
            </div>
            <div style="width: 500px;background-color: #ffeb9b;display: flex;justify-content: center">
            <button @click="nextStep()" class="btn">下一步</button>
            </div>
    </div>

    <!--    这是选项框-->
    <div v-if="step == 1" class="choose-container">
        <div class="text-container">
            <p>请选择设备分类</p>
        </div>
        <select class="btn" @change="selectClass($event)">
            <div>
                <option value=0>请选择</option>
            </div>
            <option v-for="(item,id) in categoryList" :key="id" :value="item.id">
                {{item.name}}
            </option>
        </select>
        <button @click="nextStep()" class="btn">下一步</button>
    </div>

    <div class="dropdown">
        <button class="dropbtn" @click="selectClicked()">下拉菜单</button>
        <div v-if="ifSelectClicked" class="dropdown-content">
            <a v-for="(item,id) in categoryList" v-if="!ifSelect" :key="id" @click="selectNew(id+1)">{{item.name}}</a>
        </div>
    </div>

    <!--    这里是输入设备名称的框-->
    <div v-if="step == 2" class="choose-container">
        <div class="text-container">
            <p>请输入设备名称</p>
        </div>
        <input class="input-item" id="item_name" type="text" v-model="item_name">
        <button @click="nextStep()" class="btn">下一步</button>
    </div>
    <!--    这是输入设备详情的框-->
    <div v-if="step == 3" class="choose-container">
        <div class="text-container">
            <p>请输入设备相关的简介或描述</p>
        </div>
        <textarea v-model="description" style="resize: none;height: 100px;width: 400px"></textarea>
        <!--    发送数据到后台-->
        <button @click="sendToBackend()" class="btn">提交</button>
    </div>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            //64编码
            imageUrl: null,
            imageFile: null,
            categoryList: [],
            select_class_id: 0,

            user_id: 0,
            item_name: '',
            description: "",

            step: 0,
            imgSelected: 0,
            ifSelect:false,
            ifSelectClicked:false
        },
        methods: {
            onFileChange(e) {
                let _this = this;
                const file = e.target.files[0];
                if (!file) return;

                this.imageFile = file;

                const reader = new FileReader();
                reader.onload = (e) => {
                    this.imageUrl = e.target.result; // 这是data URL
                };
                reader.readAsDataURL(file);
                _this.imgSelected = 1;
            },
            sendToBackend() {
                let _this = this;
                if (_this.step >= 3) {
                    _this.step = 0
                }
                if (_this.select_class_id == 0) {
                    alert("请选择设备类型！！")
                    return
                }
                let data = {
                    ImageUrl: _this.imageUrl, name: _this.item_name, user_id: _this.user_id
                    , category_id: _this.select_class_id, description: _this.description
                }
                console.log(data)
                axios({
                    method: "post",
                    url: "/equipment/upload",
                    data: convertToQueryString(data)
                }).then(function (resp) {
                    console.log(resp.data);
                    if (resp.data.code == 200) {
                        alert(resp.data.msg);
                    } else {
                        alert(resp.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            selectClass(event) {
                let _this = this
                _this.select_class_id = event.target.value;
                console.log("获取到的id是" + _this.select_class_id)//获取option对应的value值 select_class_id是后台约定的提交数据的名称
            },
            nextStep() {
                let _this = this
                _this.step++
            },
            selectNew(id){
                let _this = this
                _this.select_class_id = id
                console.log("获取到的id为"+_this.select_class_id)
                _this.ifSelect = true
                _this.ifSelectClicked = !_this.ifSelectClicked
            },
            selectClicked(){
                let _this = this
                _this.ifSelectClicked = !_this.ifSelectClicked
                _this.ifSelect = false
            }

        },
        mounted() {
            let _this = this
            _this.ifSelect = false
            axios({
                method: "post",
                url: "/category/getList",
            }).then(function (resp) {
                console.log(resp.data);
                if (resp.data.code == 200) {
                    _this.categoryList = resp.data.data
                } else {
                    alert(resp.data.msg);
                }
            }).catch(function (error) {
                console.log(error);
            });
        },
        created() {
            let _this = this
            _this.user_id = sessionStorage.getItem("user_id");
            console.log("当前操作者:" + _this.user_id)
        }
    })
</script>
</html>